table {
  width: 100%;
  border: solid 2px #f1f1f1;
  border-radius: 10px 10px 5px 5px;
}

.mat-form-field-label {
  font-size: 0.8em;
}


::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep.mat-form-field-infix{
  width: 7em !important;
}

.mat-elevation-z8 {
  padding-left: 10em;
  padding-top: 2em;
  padding-bottom: 5em;
  padding-right: 10em;
}

td.mat-cell {
  border-bottom-style: none;
  font-size: 12px;
}

th {
  background-color: #f1f1f1;
}

#success {
  color: #0e5c48;
  background-color: #dff8ed;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#failure {
  color: #ab4040;
  background-color: #fde3e2;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#upcoming {
  color: #836243;
  background-color: #fef3c7;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}


a
{
  text-decoration:none;
  color:inherit
}
